RewriteEngine On

ErrorDocument 404 /404.html

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#RewriteRule (.*) https://docs.sleep.urbandroid.org/sleep/smart_wake_up.html [R,L]
