//
// Typography
//

$body-font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif !default;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace !default;
$root-font-size: 16px !default;         // Base font-size for rems
$body-line-height: 1.4 !default;
$body-heading-line-height: 1.15 !default !default;

//
// Colors
//

:root {
  --white: #fff;
  --black: #222222;

  --bg-grey-lt-000: #1c1f20;
  --subheading: #6f6f6f;

  --grey-dk-000: #959396;
  --grey-dk-100: #5c5962;
  --grey-dk-200: #44434d;
  --grey-dk-250: #302d36;
  --grey-dk-300: #27262b;

  --grey-lt-000: #f5f6fa;
  --grey-lt-100: #eeebee;
  --grey-lt-200: #ecebed;
  --grey-lt-300: #e6e1e8;

  --purple-000: #7253ed;
  --purple-100: #5e41d0;
  --purple-200: #4e26af;
  --purple-300: #381885;

  --blue-000: #2c84fa;
  --blue-100: #2869e6;
  --blue-200: #264caf;
  --blue-300: #183385;

  --green-000: #41d693;
  --green-100: #11b584;
  --green-200: #009c7b;
  --green-300: #026e57;

  --yellow-000: #ffeb82;
  --yellow-100: #fadf50;
  --yellow-200: #f7d12e;
  --yellow-300: #e7af06;

  --red-000: #f77e7e;
  --red-100: #f96e65;
  --red-200: #e94c4c;
  --red-300: #dd2e2e;

  --body-background-color: var(--grey-dk-300);
  --sidebar-color: var(--grey-dk-300);
  --code-background-color: var(--grey-dk-250);

  --body-text-color: var(--black);
  --body-text-color-bold: var(--grey-dk-000);
  --body-text-color-cursive: var(--grey-lt-000);

  --body-heading-color: var(--grey-lt-000);
  --nav-child-link-color: var(--grey-dk-000);
  --link-color: var(--blue-000);
  --btn-primary-color: var(--blue-200);
  --base-button-color: var(--grey-dk-250);
  --border-color: var(--grey-dk-200);
  --table-background-color: var(--grey-dk-100);
  --table-background-color-accent: var(--grey-dk-200);
  --table-border-color: var(--line-separator-color);

  --line-separator-color: #dddddd;

  --main-color: hsl(174, 42%, 51%);

}

@media (prefers-color-scheme: light) {
  :root  {
  --body-background-color: var(--grey-lt-000);
  --sidebar-color: var(--grey-lt-000);
  --code-background-color: var(--grey-lt-000);

  --body-text-color: var(--grey-dk-100);
  --body-text-color-bold: var(--grey-dk-300);
  --body-text-color-cursive: var(--grey-dk-000);

  --body-heading-color: var(--grey-dk-300);
  --nav-child-link-color: var(--grey-dk-100);
  --link-color: var(--purple-000);
  --btn-primary-color: var(--purple-100);
  --base-button-color: #f7f7f7;
  --border-color: var(--grey-lt-000);
  --table-background-color: var(--grey-lt-300);
  --table-background-color-accent: var(--grey-lt-200);

  --main-color: hsl(174, 42%, 51%);

  }
}

//
// Media queries in pixels
//

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: 740px,
  lg: 1120px,
  xl: 1400px
) !default;

//
// Spacing
//

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
  sp-0: 0,
  sp-1: $spacing-unit * 0.25,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4
) !default;

$sp-1: map-get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3) !default; // 0.75 rem == 24px
$sp-4: map-get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map-get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map-get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map-get($spacers, sp-9) !default; // 4    rem == 48px
$sp-10: map-get($spacers, sp-10) !default; // 4.5  rem == 48px

//
// Borders
//

$border: 1px solid !default;
$border-radius: 24px !default;

//
// Grid system
//

$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$nav-width: 232px !default;
$content-width: 800px !default;

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: 740px,
  lg: 800px,
  xl: 1316px
) !default;
