
:root {
--body-background-color: var(--grey-dk-300);
--sidebar-color: var(--grey-dk-300);
--border-color: var(--grey-dk-200);

--body-text-color: var(--grey-lt-300);
--body-heading-color: var(--grey-lt-000);
--nav-child-link-color: var(--grey-dk-000);

--link-color: var(--blue-000);
--btn-primary-color: var(--blue-200);
--base-button-color: var(--grey-dk-250);

--code-background-color: var(--grey-dk-250);
}
