
/* Invert all elements on the body while attempting to not alter the hue substantially. */
body {
  //filter: invert(100%) hue-rotate(180deg);
}

/* Workarounds and optical adjustments. */

/* Firefox workaround: Set the background colour for the html
   element separately because, unlike other browsers, Firefox
   doesn’t apply the filter to the root element’s background. */
html {
  //background-color: #111;
}

/* Do not invert media (revert the invert). */
img, video, iframe {
  //filter: invert(100%) hue-rotate(180deg);
}

/* Improve contrast on icons. */
.icon {
  //filter: invert(15%) hue-rotate(180deg);
}

/* Re-enable code block backgrounds. */
pre {
  //filter: invert(6%);
}

/* Improve contrast on list item markers. */
li::marker {
  //color: #666;
}

:root {
  --black: #fff;
  --white: #222222;

  --body-background-color: var(--bg-grey-lt-000);
  --subheading: rgb(162, 154, 142);
  //--sidebar-color: var(--grey-dk-300);
  //--border-color: var(--grey-dk-200);

  --body-text-color: #ada69b;
  --body-text-color-bold: #cecac4;
  --body-heading-color: rgb(211, 207, 201); // #D3CFC9
  --nav-child-link-color: var(--grey-dk-000);

  --link-color: var(--blue-000);
  --btn-primary-color: var(--blue-200);
  --base-button-color: var(--grey-dk-250);
  --table-background-color: #102030;
  --table-border-color: #203040;

  --code-background-color: var(--grey-dk-250);
  --line-separator-color: rgb(58, 62, 65);
}
