/* Style the element that is used to open and close the accordion class */
.accordion {
  background-color: var(--table-background-color);
  color: var(--body-text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom:10px;
  margin-top: 0;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
  background-color: var(--table-background-color-accent);
}

/* Unicode character for "plus" sign (+) */
.accordion:after {
  content: '\2795';
  font-size: 13px;
  color: var(--body-text-color);
  float: right;
  margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
.accordion.active:after {
  content: "\2796";
}

/* Style the element that is used for the panel class */

.accordion-panel {
  padding: 0 18px;
  background-color: var(--table-background-color);
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  margin-bottom:10px;
}

.accordion-panel.show {
  padding: 18px;
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}
