.title {
  // margin-top: 1.8em;
  font-weight: 600;
  //color: $color6;
  margin-bottom: 0.5em;
}

ol, ul {
  margin-left: 0.5em;
}

// overrides just-the-docs' css which puts dl in a grid
.dlist dl {
  display: block;

  dt {
    text-align: initial;
  }
}

.line-through{text-decoration:line-through}

// Inline icons
.icon img {
  height: 1em;
}

.admonitionblock .icon {
  min-width: 0;
  img {
    height: 2em;
    min-width: 2em;
  }
}

table .admonitionblock .icon, .hdlist .admonitionblock .icon,  {
  min-width: 0;
  img {
    height: 1em;
    min-width: 1em;
  }
}

ul.none > li::before {
  content: "";
}
.icontable td:first-child {
  min-width: 45px;
}
