---

---

$main-color: #4DB6AC;
$palette-span: 180deg;
$saturation-increment: 5%;
$number-of-colors: 6;
$background-color: #263238;


.main-content-wrap, .side-bar, .page-header, .site-title, .search-input-wrap, .site-footer {
  background-color: $background-color;
}

a {
  color: $main-color;
}


@function getPaletteVariation($i) {
    @return desaturate( adjust-hue($main-color, ($palette-span / $number-of-colors) * $i), $saturation-increment * $i );
}

$color2: getPaletteVariation(1);
$color3: getPaletteVariation(2);
$color4: getPaletteVariation(3);
$color5: getPaletteVariation(4);
$color6: getPaletteVariation(5);

h1 {
  color: $main-color;
}
h2 {
  // color: $color2;
  margin-top: 2.4em;
}
h3 {
  // color: $color3;
  margin-top: 2.2em;
}
h4 {
  // color: $color4;
  margin-top: 2.0em;
}
h5 {
  // color: $color5;
  margin-top: 1.8em;
}
h6 {
  // color: $color6;
  margin-top: 1.6em;
}


td p:last-child {
  margin-bottom: 0;
}


// SEARCH
.search {
  background-color: initial;
}
.js-search-input.search-input {
  padding: 0.4em;
  border-radius: 4px;
  font-weight: 900;
  color: black;

  &::placeholder {
    color: initial;
    font-weight: initial;
    opacity: 0.5;
  }
}

// SEARCH TABS
/**
 * Tabs complementary to generateTabAndReturnContentNode() in just-the-docs.js
 */
.tabs {
	display: flex;
  flex-wrap: wrap; // make sure it wraps
  flex-direction: row;
  // justify-content: space-around;
}
.tabs label {
	order: 1; // Put the labels first
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  // background: #90CAF9;
  font-weight: bold;
  transition: background ease 0.2s;
  flex-grow: 1;
}
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
	// width: 100%;
	display: none;
  padding: 1rem;
  background: #222;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
  background: #222;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

// Has to be at the end
@import 'asciidoc';
